footer
{
	color: white;
	text-align: center;
	font-size: 45px; 
	border-radius: 20px;
	background-color: green;
	width: 600px;
	margin-top: 190px;
	margin-left: 30%;
	padding: 10px;
	font-family: elephant;

}