body {
	font-family: arial, sans-serif;
}

form{
	border: 3px solid red;
	background-color: #a3b5d1
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.picture {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#mycanvas
{
	background-color: green;
	border: 2px dotted red;
}
video
{
	width : 30%;
	
}

table
{
	border: 2px solid red;
	border-collapse: collapse;
	width: 500px;
	margin-top: 35px;
	margin-left: 35px;
}
th
{
	border: 2px solid red;
    background-color: yellow;
}
td
{
	border: 2px solid green;
}
th:hover
{
	background-color: green;
	color: white;
}
td:hover
{
	opacity: 0.8;
	color: white;
	background-color: green;
}

caption
{
	background-color: green;
	width: 500px;
	color: white;
	font-family: elephant;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}
details
{
	border: none;
	outline: none;
}

#tadiv
{
	width: 400px;
}